<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="4.3.0" targetFramework="net48" />
  <package id="Dynamitey" version="2.0.10.189" targetFramework="net48" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net48" />
  <package id="EntityFramework.ru" version="6.2.0" targetFramework="net48" />
  <package id="ExtendedWPFConverters" version="2.0.4" targetFramework="net48" />
  <package id="ExtendedWPFVisualTreeHelper" version="2.0.3" targetFramework="net48" />
  <package id="MahApps.Metro" version="2.0.0" targetFramework="net48" />
  <package id="MaterialDesignColors" version="5.2.1" targetFramework="net48" />
  <package id="MaterialDesignInXamlToolkitAddOns" version="0.0.63" targetFramework="net48" />
  <package id="MaterialDesignThemes" version="5.2.1" targetFramework="net48" />
  <package id="MaterialDesignThemes.MahApps" version="5.2.1" targetFramework="net48" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.39" targetFramework="net48" />
  <package id="System.Drawing.Common" version="9.0.0" targetFramework="net48" />
</packages>